# environments
dcbm_env*/

# python cache
__pycache__/
.ipynb_checkpoints/

# cluster / job outputs
*.out
*.err

# model / tensor artifacts
*.torch

# archives
*.tar.gz

# -------------------------
# large data folders
# -------------------------
data/cifar-10-batches-py/
data/FaceForensics/*
# allow FaceForensics scripts
!data/FaceForensics/scripts/
!data/FaceForensics/scripts/**

data/Embeddings/
data/Exemplary_explanations/data/

# -------------------------
# Segments: ignore data, keep code
# -------------------------
# ignore everything in Segments by default
data/Segments/*

# allow scripts!
!data/Segments/scripts/
!data/Segments/scripts/**

# but ignore generated outputs inside scripts
data/Segments/scripts/FFpp_PipelineTest_SAM2/
data/Segments/scripts/Seg_embs/

# ignore caches
data/Segments/scripts/utilities/__pycache__/

# ignore external SAM2 dependency
data/Segments/scripts/utilities/segment_anything_2/
