# environments
dcbm_env*/

# python cache
__pycache__/
.ipynb_checkpoints/

# cluster / job outputs
*.out

# model / tensor artifacts
*.torch

# archives
*.tar.gz

# large data folders only
data/cifar-10-batches-py/
data/FaceForensics/
data/Segments/
data/Embeddings/
data/Exemplary_explanations/data/
